h1 {
    border-style: solid;
    border-color: white;
    background-color: red;
    color: white;
    margin: auto;
    width: 230px;
}

body {
    background-color: black
}

p {
    color: white;
}

div {
    text-align: center;
    margin: 10px auto;
    width: 570px
}